@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Dancing+Script:wght@700&family=Roboto:wght@100;400&display=swap');


:root{
	--main-color: #01b59c;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	text-decoration: none;
	text-transform: capitalize;
	transition: all .2s linear;
	line-height: 1.5;
}

html{
	font-size: 62.5%;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

body {
	background: #01b59c;
	padding-left: 30rem;
	min-height: 100vh;
}

.heading {
	font-family: 'Roboto', sans-serif;
	font-size: 4rem;
	padding-bottom: 1rem;
	color: #fff;
	text-transform: uppercase;
	
}

.heading span {
	text-transform: uppercase;
	color: #0e204e;
}

.btn {
	display: inline-block;
	margin-top: 1rem;
	padding: .8rem 3rem;
	background: #0e204e;
	color: #fff;
	cursor: pointer;
	font-size: 1.7rem;
}

.btn:hover {
	background: #111;
	letter-spacing: .2rem;
}

header {
	position: fixed;
	top: 0; left: 0; bottom: 0;
	background: #0e204e;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 1000;
	flex-flow: column;
	padding: 8rem 2rem;
	width: 30rem;
	text-align: center;
}

header .logo {
	font-family: 'Dancing Script', cursive;
	color: #fff;
	font-size: 3rem;
	font-weight: bolder;
}

header .logo span {
	color:var(--main-color);
}

header .navbar a {
	display: block;
	font-size: 2rem;
	font-family: 'Roboto', sans-serif;
	color: #fff;
	margin: 2rem 0;
}

header .navbar a:hover {
	letter-spacing: .2rem;
	color:var(--main-color);
}

header .follow a {
	font-size: 2.5rem;
	color: #fff;
	margin: 0 .7rem;
}

header .follow a:hover {
	color:var(--main-color);
}

#menu-bars {
	position: fixed;
	top: 1rem; right: 1rem;
	z-index: 10000;
	background:var(--main-color);
	color: #fff;
	border-radius: .5rem;
	padding: 1rem 1.5rem;
	font-size: 3rem;
	cursor: pointer;
	display: none;
}

.home {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 5rem;
	padding: 2.5rem;
	margin-bottom: 8rem;
}

.home .image {
	flex: 1 1 40rem;
}

.home .image img {
	width: 100%;
}

.home .content {
	flex: 1 1 40rem;
}

.home .content .hi {
	font-family: 'Bungee', cursive;
	font-size: 4rem;
	color: #fff;
}

.home .content h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 3rem;
	color: #000;
}

.home .content h3 span{
	font-size: 3rem;
	color: #fff;
}

.home .content .info {
	font-size: 2.5rem;
	color: #111;
	padding: .5rem 0;
}

.home .content .text {
	font-size: 1.7rem;
	color: #fff	;
	padding: .5rem 0;
}


.about .row-1{
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 2rem;
	gap: 1.7rem;
}

.about .row-1 .image {
	flex: 1 1 25rem;
}

.about .row-1 .image img{
	height: 90%;
	width: 90%;
	object-fit: cover;
	border: .3rem solid #fff;
	border-radius: .5rem;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

.about .row-1 .content {
	flex: 1 1 55rem;
}

.about .row-1 .content h3 {
	color: #fff;
	font-size: 3rem;
}

.about .row-1 .content p {
	color: #fff;
	font-size: 1.7rem;
	padding: .5rem 0;
}

.about .row-1 .content .box-container {
	display: flex;
	flex-wrap: wrap;
	gap:1.5rem;
	padding: 0.5rem 0;
}

.about .row-1 .content .box-container .box{
	flex: 1 1 20rem;
}

.about .row-1 .content .box-container .box span {
	color: #0e204e;
}

.about .row-2 {
	display: flex;
	flex-wrap: wrap;
	gap:1.5rem;
	align-items: center;
}

.about .row-2 .skills {
	flex: 1 1 40rem;
}

.about .row-2 .skills .progress {
	padding: 1rem 0;
}

.about .row-2 .skills .progress h3{
    display: flex;
    justify-content: space-between;
    padding:.7rem 0;
    font-size: 1.7rem;
    color:#111;
    font-weight: 400;
}

.about .row-2 .skills .progress .bar{
    width:100%;
    background:#ccc;
    overflow:hidden;
    height:1rem;
    border-radius: 50rem;
}

.about .row-2 .skills .progress .bar span{
    display:block;
    height:100%;
    background:#fff;
    border-radius: 50rem;
}

.about .row-2 .skills .progress:nth-child(1) .bar span{
    width:85%;
}

.about .row-2 .skills .progress:nth-child(2) .bar span{
    width:80%;
}

.about .row-2 .skills .progress:nth-child(3) .bar span{
    width:95%;
}

.about .row-2 .skills .progress:nth-child(4) .bar span{
    width:75%;
}


.service .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.service .box-container .box{
    flex:1 1 30rem;
    text-align: center;
    padding:2rem;
    background:#fff;
    border-radius: .5rem;
    box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

.service .box-container .box i{
    height:6rem;
    width:6rem;
    line-height: 6rem;
    font-size: 2.5rem;
    color:#fff;
    background:var(--main-color);
    border-radius: 50%;
}

.service .box-container .box h3{
    color:#444;
    font-size: 2.2rem;
    padding-top: 1rem;
}

.service .box-container .box p{
    color:#666;
    font-size: 1.7rem;
    padding-top: .5rem;
}

.contact .icons-container{
    display: flex;
    gap:1.5rem;
    flex-wrap: wrap;
    padding-bottom: 2rem;
}

.contact .icons-container .icons{
    flex:1 1 25rem;
    text-align: center;
    padding:2rem;
    background:#fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
}

.contact .icons-container .icons i{
    height:5rem;
    width:5rem;
    line-height: 5rem;
    font-size: 2rem;
    background: var(--main-color);
    color:#fff;
    border-radius: 50%;
}

.contact .icons-container .icons h3{
    color:#111;
    font-size: 2rem;
    padding:.5rem 0;
    padding-top: 1rem;
}

.contact .icons-container .icons p{
    color:#666;
    font-size: 1.7rem;
}

.contact .row{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
}

.contact .row form{
    flex:1 1 55rem;
    background:#fff;
    padding:0 2rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
}

.contact .row .map{
    flex:1 1 25rem;
    border:1rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border-radius: .5rem;
    width: 100%;
}

.contact .row form .box,
.contact .row form textarea{
    width: 100%;
    border-bottom: .1rem solid #333;
    color:#333;
    text-transform: none;
    font-size: 1.7rem;
    padding:1rem 0;
    margin:1rem 0;
}

.contact .row form .box:focus,
.contact .row form textarea:focus{
    border-color: var(--main-color);
}

.contact .row form .box::placeholder,
.contact .row form textarea::placeholder{
    text-transform: capitalize;
}

.contact .row form textarea{
    height: 20rem;
    resize: none;
}

.contact .row form .btn{
    margin-top: 0;
    margin-bottom: 1.5rem;
}

.footer{
    margin-top: 2rem;
    font-size: 2rem;
    padding:2.5rem;
    text-align: center;
    color:#666;
    background: #fff;
}





/*media quaries*/
@media (max-width: 991px) {

	html {
		font-size: 55%;
	}

	body {
		padding: 0;
	}

	#menu-bars {
		display: initial;
	}

	header {
		left: -120%;
		transition: 1s;
	}

	header.active {
		left: 0%;

	}
}

@media (max-width: 450px) {

	html {
		font-size: 50%;
	}

	header {
		width: 100%;
	}
}